[project]
	description = "A new multijob plugin was created by Tikal ALM team.  Using this job you can add full hierarchy of Jenkins jobs that will be executed in sequence or in parallel."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joachim Nilsson (JocceNilsson)
[access "refs/for/refs/*"]
	read = group user/Joachim Nilsson (JocceNilsson)
	push = group user/Joachim Nilsson (JocceNilsson)
	label-Code-Review = -2..+2 group user/Joachim Nilsson (JocceNilsson)
	label-Verified = -1..+1 group user/Joachim Nilsson (JocceNilsson)
	rebase = group user/Joachim Nilsson (JocceNilsson)
	removeReviewer = group user/Joachim Nilsson (JocceNilsson)
	submit = group user/Joachim Nilsson (JocceNilsson)
[access "refs/heads/*"]
	read = group user/Joachim Nilsson (JocceNilsson)
	create = group user/Joachim Nilsson (JocceNilsson)
	push = +force group user/Joachim Nilsson (JocceNilsson)
	pushMerge = group user/Joachim Nilsson (JocceNilsson)
[access "refs/tags/*"]
	push = +force group user/Joachim Nilsson (JocceNilsson)
	createTag = group user/Joachim Nilsson (JocceNilsson)
	createSignedTag = group user/Joachim Nilsson (JocceNilsson)
